li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  #jumbotron {
    background-color: white;
  }

  #container {
    height: 100%;
    width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
  h1 {
    font-size: 80px;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: rgba(163, 6, 6, 0.9);
    letter-spacing: 2px;
    text-shadow: 0px 0px 9px #ac4f24, 0px 0px 15px #f50a51, 0px 0px 5px #f50a0a;
    animation: glow 10s infinite;
    border: 10px #191970 solid;
    background-color: black;
    -webkit-box-shadow:0 0 20px blue; 
    -moz-box-shadow: 0 0 20px blue; 
    box-shadow:0 0 20px blue;
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0px 0px 9px #e85500, 0px 0px 15px #f5b60a, 0px 0px 5px #f50abe;
    }
    50% {
      text-shadow: 0px 0px 9px #f50abe, 0px 0px 15px #e86800, 0px 0px 5px #f50abe;
    }
    85% {
      text-shadow: 0px 0px 9px #e80000, 0px 0px 15px #f50abe, 0px 0px 5px #e89700;
    }
  }

.list1 {
  float:left;
  padding: 10px;
}

.list2 {
  float: right;
  padding: 10px;

}

.add {
  float: center;
  text-align: center;
  padding: 20px
}

.burgerList,
.devoured {
  text-align: center;
}


 